@charset "utf-8";

section {
	top: 165px;
	width: 92%;
	background-color: rgba(0,0,0,0.85);
	right: 2%;
	position: absolute;
	left: 2%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 5px;
}
nav {
	top: 120px;
	left: 2%;
	right: 2%;
	width: 95%;
}
#lang_bar {
	top: 88px;
}
#logo {
	top: 10px;
}
